body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}
.bold{
    font-weight: bold;
}

.right{
    float: right;
}

.left{
    float: left;
}

.width50{
    width:50%;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.margin-25{
    margin-top: 25px;
}

.clear{
    clear: both;
}

table{
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.underline{
    border-top:1px solid #808080;
}

table.header{
    font-size: 10px;
}

table.header td{
    padding:4px;
}

.block-green{
    padding:12px;
    background-color: green;
}

.block-red{
    padding:12px;
    background-color: red;
}

.block-yellow{
    padding:12px;
    background-color: yellow;
}

.block-grey{
    padding:12px;
    background-color: #808080;
}

.font-10{
  font-size: 10px;
}

.font-8{
    font-size: 8px;
}

.text-centre{
    text-align: center;
}

.border td, th{
    border:1px solid;
}

.small-table td, th{
    font-size: 8px;
}

.background-grey{
    background-color: #dfdfdf;
}

.background-darkgrey{
    background-color: #afafaf;
}

.fake-box{
    padding: 40px;
    margin: 40px;
}


